:root {
    --gradient-2: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color:#363e43;
}

header,footer{
    width: 100%;
    height: 10%;
    background-color: #161a1d;
    text-align: center;
    top:0;
    
}
header > h1{
    font-size: 50px;
    background: var(--gradient-2); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}
footer > h2{
    font-size: 25px;
    background: var(--gradient-2); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

footer > h3{
    font-size: 15px;
    color: white;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 10rem;
  }

.translate{
    width: 25%;
    height: 80%;
    background-color: #11171f;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 10px 10px;
}
.dictionary{
    width: 30%;
    height: 80%;
    background-color: #11171f;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 10px 5px;
}
.title-container,.title-dictionary {
    text-align: center;
    background: var(--gradient-2);
    -webkit-background-clip: text;
    font-size: 30px;
    background-clip: text;
    color: transparent;
    height: 10%;
    width: 100%;
}
.title-container{
    font-size: 35px;
    height: 20%;
}
.container-category{
    width: 100%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    gap: 5px;
}
.container-category > h3{
    color: white;
    font-size: 25px;
    font-style: italic;
    width: 100%;
    text-align: center;
    height: 30%;
}

.radio-category{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
    justify-content: flex-start;
    gap: 10px;

}
.radio-category > label{
    background: var(--gradient-2) ;
   padding: 10px 20px ;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2px;
   align-items: center;
   border-radius: 50px 50px;
   
}
.table-result{
    width: 95%;
    height: 50%;
    padding: 20px;
}
.table-result > h2{
    text-align: center;
    background: var(--gradient-2);
    -webkit-background-clip: text;
    font-size: 30px;
    background-clip: text;
    color: transparent;
    height: 30%;
    width: 100%;
}

.addWord{
    width: 30%;
    height: 80%;
    background-color: #11171f;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px;
}

.addWord > h2{
    text-align: center;
    background: var(--gradient-2);
    -webkit-background-clip: text;
    font-size: 30px;
    background-clip: text;
    color: transparent;
    height: 10%;
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 90%;
    height: 100%;
    
}
form > .input-container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color:#2F3640 ;
    border-radius: 20px 20px;
    cursor: pointer;

}
.input-container > input {
  width: 100%;
  height: 2.5rem;
  border: none;
  box-sizing: border-box;
  color: white;
  position: relative;
  top: -10px;
  background-color: transparent;
  outline: none;
  padding: 20px 20px;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.input-container > label{
    position: relative;
    top: 20px;
    left: 10px;
    color: #b6b4b4;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.input-container > input[type="text"]:focus + label,
.input-container > input[type="text"]:valid + label {
    top: -20px;
    left: 10px;
    font-size: 15px;
    color: #4ea5db;
}

.buttonAdd,.buttonOrder{
    width: 75%;
    height: 2rem;
    border-radius:20px  ;
    background-color: #2F3640;
    color: rgb(253, 253, 253);
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    border: none;
    border: 1px solid #124947 ;
}
.buttonAdd:hover,.buttonOrder:hover{
    background-color: #124947;
}

@media screen and (min-width:1355px) and (max-width:1499px ){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header > h1{
        font-size: 2rem;
        
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer > h2{
        font-size: 1rem;
        
    }
    .translate{
        width: 30%;
        padding: 10px 10px;
    }
    .title-container,.title-dictionary {
        font-size: 1.6rem;
    }
    .title-container{
        font-size: 2rem;
    }
    .container-category > h3{
        color: white;
        font-size:1.2rem;
    }
    .radio-category{
        gap: 10px;
    }
    .radio-category > label{
       padding: 5px 10px ;
       justify-content: center;
       gap:2px;
       border-radius: 50px 50px;
    }
    .table-result{
        width: 100%;
        padding: 10px;
    }
    .table-result > h2{
        font-size: 1.7rem;
      
    }
  
    .addWord > h2{
        font-size: 1.6rem;
        height: 3.5rem;
    }
    
    form {
        
        gap: 20px;
        width: 90%;
        height: 100%;
        
    }
    form > .input-container{
        border-radius: 20px 20px;
        cursor: pointer;
        height: 2rem;
        font-size: 14px;
        
        
    }

    .input-container > input {
        height: 1rem;
        top: 5px;
      
      }
      
      .input-container > label{
          top: 30px;

      }
      .input-container {
        margin-bottom: 0px;
    }
    .input-container > input[type="text"]:focus + label,
.input-container > input[type="text"]:valid + label {
    top: 6px;
    font-size: 10px;
    color: #4ea5db;

}

.buttonAdd,.buttonOrder{
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    border: none;
}

}